<h2>About Super Rentals</h2>
<p>
  This is a fake website for Super Rentals. I'm creating this with Ember.js.
  See <a href="http://www.emberjs.com">Emberjs.com</a> if you'd like to learn more.
</p>

{{#link-to "contact"}}Click here to contact us.{{/link-to}}
