<h2>Contact Super Rentals</h2>
<p>
  We'd love to get in touch. PLease feel free to reach out to:
</p>
<p>
  Super Rentals HQ <br>
  1212 Testing Address Way <br>
  Fake City, State ZIP
</p>

<p>
  Phone: (999) 999-9999
</p>

<p>
  superrentals@superrentals.com
</p>


{{#link-to "about"}}Learn more about us.{{/link-to}}
